.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #000;
}

.controls {
  position: fixed;
  opacity: 0;
  top: 0;
}

.controls:hover {
  opacity: 1;
}

.VideoContainer,
.SketchContainer {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

button {
  padding: 10px;
  color: white;
  border: 1px solid white;
  background: transparent;
  cursor: pointer;
}

.blink {
  animation: 2s linear infinite blink;
}

@keyframes blink {
  0% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

.spin {
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 0.2s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
